<div class="main-sub-container">
  <div class="main-sub-container-header">
    Document
    <a [routerLink]="['/study-abroad-setup/country-setup/add-country']">
      <button mat-flat-button class="btn-dark-rounded-outline-white">Add Document</button>
    </a>
  </div>
  
  <div class="add-form-container">
   
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- document Name Column -->
      <ng-container matColumnDef="documentName">
        <th mat-header-cell *matHeaderCellDef> Document Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.documentName }} </td>
      </ng-container>
  
      <!-- heading Column -->
      <ng-container matColumnDef="documentHeading">
        <th mat-header-cell *matHeaderCellDef> document Heading </th>
        <td mat-cell *matCellDef="let element"> {{ element.documentHeading }} </td>
      </ng-container>
  
      <!-- documentDescription Column -->
      <ng-container matColumnDef="documentDescription">
        <th mat-header-cell *matHeaderCellDef> Document Description </th>
        <td mat-cell *matCellDef="let element" class="Description"> {{ element.documentDescription }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="openDialog()" class="btn-dark-rounded-outline">
              Action
            </button>
          </td>
        </ng-container>
  
      <!-- Render Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
