<div class="main-sub-container">
  <div class="main-sub-container-header">
    Student Listing
    <a [routerLink]="['/application-management/manage-students-application/student-registration']">
      <button mat-flat-button class="btn-dark-rounded-outline-white">Create Student</button>
    </a>    
  </div>

  <div class="add-form-container">
    <form class="example-form">
      <mat-form-field class="SearchFliter">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter First Name">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter Last Name">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter Email">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Batch</mat-label>
        <input matInput placeholder="Enter Batch">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Enter Status">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Tagged to Counselor</mat-label>
        <input matInput placeholder="Enter Counselor Name">
      </mat-form-field>

      <mat-form-field class="SearchFliter">
        <mat-label>Application ID</mat-label>
        <input matInput placeholder="Enter Application ID">
      </mat-form-field>

      <button mat-flat-button class="btn-dark-rounded-outline">Search</button>
      <button mat-flat-button class="btn-dark-rounded-outline" type="reset">Clear</button>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
      </ng-container>
    
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
      </ng-container>
    
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>
    
      <!-- Pending Applications Column -->
      <ng-container matColumnDef="pendingApplications">
        <th mat-header-cell *matHeaderCellDef> Pending Applications </th>
        <td mat-cell *matCellDef="let element"> {{ element.pendingApplications }} </td>
      </ng-container>
    
      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }} </td>
      </ng-container>
    
      <ng-container matColumnDef="broche">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="openDialog()" class="btn-dark-rounded-outline">
            Action
          </button>
        </td>
      </ng-container>
    
      <!-- Table Header & Row Rendering -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    
  </div>
</div>