<div class="container">
  <div class="header">
      Country
      <a [routerLink]="['/study-abroad-setup/country-setup/add-country']">
        <button>Add Country</button>
      </a>
      
  </div>
  
<div class="scrollable-content">
  <div class="search-section">
    <div class="form-wrap">
        <div class="input-wrap">
            <input type="text" required class="search-input" placeholder=" ">
            <label>Your Name</label>
        </div>
        <div class="buttons">
            <button>Search</button>
            <button>Clear</button>
        </div>
    </div>
</div>


  
  <table class="table">
      <tr>
          <td>Country</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>UK</td>
          <td>Active/Inactive <input type="checkbox" name="country" id="UK"> </td>
          <td><button class="action-btn">Action</button></td>
      </tr>
      <tr>
          <td>USA</td>
          <td>Active/Inactive <input type="checkbox" name="country" id="usa"> </td>
          <td><button class="action-btn">Action</button></td>
      </tr>
      <tr>
          <td>Germany</td>
          <td>Active/Inactive <input type="checkbox" name="country" id="Germany"> </td>
          <td><button class="action-btn">Action</button></td>
      </tr>
  </table>
</div>
</div>
