
.container {
    width: 90%;
    height: 100vh;
    margin-top: 70px;
    margin-left: 55px;
    background-color: var(--text-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    background-color: #085766;
    color: white;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0px, -50px );
}

.header button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.search-section {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.form-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-wrap {
    position: relative;
    width: 27%;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    font-size: 16px;
    background: transparent;
    transition: border-color 0.3s;
}

.input-wrap label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #afbdcf;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    border-bottom-color: #2F7D8C;
}

.search-input:focus + label,
.search-input:not(:placeholder-shown) + label,
.search-input:-webkit-autofill + label {
    top: 0;
    font-size: 12px;
    background: white;
    padding: 0 5px;
    color: #2F7D8C;
    z-index: 2;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 11px 30px;
    border: 2px solid var(--blue-dark);
    background: white;
    border-radius: 20px;
    cursor: pointer;
    color: var(--blue-dark);
    font-weight: bold;
    transition: all 0.2s ease;
}

.buttons button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.586);
}


.table {
    width: 95%;
    margin: 20px;
}

.table th, .table td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.table th {
    text-align: left;
}

.action-btn {
    border: 2px solid #2F7D8C;
    padding: 11px 25px;
    border-radius: 20px;
    background: white;
    color: #2F7D8C;
    cursor: pointer;
    font-weight: bold;
}

td:nth-child(2), td:nth-child(3) {
    text-align: right;
}

input[type="checkbox"]{
    color: var(--blue-dark);
    height: 20px;
}

