<div class="main-sub-container">
  <div class="main-sub-container-header">
    Add University
  </div>
  <form class="add-form">
    <div class="add-form-container">
      <mat-form-field class="form-input">
        <mat-label>University Name</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>University Website</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>University National Ranking</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>University State Ranking</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>University Address</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>University Year of Establishment</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      
      <mat-form-field class="form-input">
        <mat-label>University Brochure Link</mat-label>
        <input matInput placeholder="Eg. India" value="">
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>Select Country</mat-label>
        <mat-select>
          <mat-option value="one">Hindi</mat-option>
          <mat-option value="two">English</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-input-full">
        <mat-label>University Description</mat-label>
        <textarea matInput placeholder="Eg. India" value=""></textarea>
      </mat-form-field>
    </div>
    
    <button mat-flat-button class="btn-dark-rounded">Add</button>
  </form>
</div>