<app-loader *ngIf="isLoading"></app-loader>
<h3 mat-dialog-title class="heading">Actions for {{data.universityName}}</h3>
<div mat-dialog-actions>
  <button mat-button (click)="onChecklistButtonClick()" class="btn-dark-rounded-outline button">Checklist</button>
  <button mat-button (click)="onEditButtonClick()" class="btn-dark-rounded-outline button">Edit University</button>
  <button mat-button (click)="onDeleteButtonClick()" class="btn-dark-rounded-outline button">Delete University</button>
</div>
