<div class="main-sub-container">

  <app-loader *ngIf="isLoading"></app-loader>

  <div class="main-sub-container-header">
    Edit Counselor Details
  </div>
  <form class="add-form">
    <div class="add-form-container">

      <mat-form-field class="form-input">
        <mat-label>Councellor Name</mat-label>
        <input matInput [(ngModel)]="councellor.councellorName" name="councellorName"
          placeholder="Enter Councellor Name" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Email</mat-label>
        <input matInput [(ngModel)]="councellor.councellorEmail" name="councellorEmail"
          placeholder="Enter Councellor Email" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Phone Number</mat-label>
        <input matInput [(ngModel)]="councellor.councellorPhoneNumber" name="councellorPhoneNumber"
          placeholder="Enter Councellor Phone Number" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Department</mat-label>
        <input matInput [(ngModel)]="councellor.councellorDepartment" name="councellorDepartment"
          placeholder="Enter Councellor Department" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Role</mat-label>
        <mat-select [(ngModel)]="councellor.councellorRole" name="councellorRole">
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Address</mat-label>
        <input matInput [(ngModel)]="councellor.councellorAddress" name="councellorAddress"
          placeholder="Enter Councellor Address" value="">
      </mat-form-field>

    </div>

    <button mat-flat-button (click)="editCouncellor()" class="btn-dark-rounded button">Save</button>
  </form>
</div>