<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    Add Student
  </div>
  <form class="add-form">
    <div class="add-form-container">
      <!-- First Name -->
      <mat-form-field class="form-input">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Eg. John" [(ngModel)]="firstName" name="firstName" required>
      </mat-form-field>
      <!-- Last Name -->
      <mat-form-field class="form-input">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="lastName" name="lastName" required>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="middleName" name="middleName" required>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" name="dateOfBirth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      
    </div>
    <div class="add-form-container">
      

      <mat-form-field class="form-input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Phone No</mat-label>
        <input matInput placeholder="Eg. Doe" [(ngModel)]="phoneNo" name="phoneNo" required>
      </mat-form-field>
    </div>

    <!-- Submit Button -->
    <button mat-flat-button class="btn-dark-rounded button" (click)="addStudent()">Add</button>

  </form>
</div>
