<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    Add Counselor
  </div>
  <form class="add-form">
    <div class="add-form-container">
      <mat-form-field class="form-input">
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="councellorName" name="councellorName" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>
      
      <mat-form-field class="form-input">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="councellorEmail" name="councellorEmail" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="councellorPhoneNumber" name="councellorPhoneNumber" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Department Name</mat-label>
        <input matInput [(ngModel)]="councellorDepartment" name="councellorDepartment" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="councellorPassword" name="councellorPassword" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Councellor Role</mat-label>
        <mat-select [(ngModel)]="councellorRole" name="councellorRole">
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="councellorAddress" name="councellorAddress" placeholder="Enter Councellor Full Name" value="">
      </mat-form-field>
    </div>
    
    <button  mat-flat-button class="btn-dark-rounded" (click)="addCouncellor()">Add</button>
  </form>
</div>
