@import url(../../../styles.css);

button{
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  p{
    font-size: larger;
    padding: 10px;
  }

  .Baisc-details{
    padding: 10px;
  }