<div class="main-sub-container">
  <div class="main-sub-container-header">
    Edit Student
  </div>
  <form class="add-form">
    <h1>Basic Details</h1>
    <div class="add-form-container">

      <!-- First Name -->
      <mat-form-field class="form-input">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Eg. John"  name="firstName" required>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field class="form-input">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Eg. Doe"name="lastName" required>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="form-input">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Eg. john.doe@example.com"  name="email" required>
      </mat-form-field>

      <!-- Mobile Number -->
      <mat-form-field class="form-input">
        <mat-label>Mobile No.</mat-label>
        <input matInput type="tel" placeholder="Eg. 9876543210" name="phoneNumber" required>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="form-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter a secure password" name="password" required>
      </mat-form-field>

      <button mat-flat-button class="btn-dark-rounded button">Add</button>
    </div>

    <h1>hELLO 2</h1>
    <div class="add-form-container">

      <!-- First Name -->
      <mat-form-field class="form-input">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Eg. John"  name="firstName" required>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field class="form-input">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Eg. Doe"name="lastName" required>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="form-input">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Eg. john.doe@example.com"  name="email" required>
      </mat-form-field>

      <!-- Mobile Number -->
      <mat-form-field class="form-input">
        <mat-label>Mobile No.</mat-label>
        <input matInput type="tel" placeholder="Eg. 9876543210" name="phoneNumber" required>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="form-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter a secure password" name="password" required>
      </mat-form-field>
      <button mat-flat-button class="btn-dark-rounded button">Add</button>
    
    </div>

  </form>
</div>
