<h3 mat-dialog-title class="heading">Actions for {{data.userFirstName}}</h3>
<div mat-dialog-actions>
  <button mat-button (click)="onViewButtonClick()" class="btn-dark-rounded-outline button">View Student</button>
  <button mat-button (click)="onSendEmailClick()" class="btn-dark-rounded-outline button">Send Email</button>
  <!-- <button mat-button (click)="onDeleteClick()" class="btn-dark-rounded-outline button">Delete</button> -->
  <button mat-button (click)="onViewApplicationClick()" class="btn-dark-rounded-outline button">View Applications</button>
</div>
