<div class="main-sub-container">
    <div class="main-sub-container-header">
      Add Course
    </div>
    <form class="add-form">
      <div class="add-form-container">
        <mat-form-field class="form-input">
          <mat-label>University Name</mat-label>
          <input matInput placeholder="Eg. India" value="">
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Course Name</mat-label>
          <input matInput placeholder="Eg. India" value="">
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Course Duration </mat-label>
          <input matInput placeholder="Eg. India" value="">
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Course Level</mat-label>
          <input matInput placeholder="Eg. India" value="">
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Eg. India" value="">
        </mat-form-field>
        
        <mat-form-field class="form-input">
          <mat-label>Area of Study</mat-label>
          <mat-select>
            <mat-option value="one">Computer</mat-option>
            <mat-option value="two">Ai</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      
      <button mat-flat-button class="btn-dark-rounded">Add</button>
    </form>
  </div>