<div class="main-sub-container">

  <app-loader *ngIf="isLoading"></app-loader>
  
  <div class="main-sub-container-header">
    Edit Document Type
  </div>
  <form class="add-form">
    <div class="add-form-container">
      <mat-form-field class="form-input">
        <mat-label>Document Type Name</mat-label>
        <input matInput [(ngModel)]="documentType.documentTypeName" name="documentTypeName" placeholder="Eg. India" value="">
      </mat-form-field>
      
      <mat-form-field class="form-input">
        <mat-label>Document Type Description</mat-label>
        <input matInput placeholder="Eg. +91" name="documentTypeDescription" [(ngModel)]="documentType.documentTypeDescription" value="">
      </mat-form-field>
      
    </div>
    
    <button  mat-flat-button class="btn-dark-rounded" (click)="editDocumentType()">Edit</button>
  </form>
</div>