<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    Study Abroad Analysis
  </div>

  <h3>Applications Analysis</h3>
  <div class="dashboard-grid">

    <div class="dashboard-box">
      <h3>Application Status</h3>
      <div *ngIf="pieChartLabels.length > 0">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>

    <div class="dashboard-box">
      <h3>Applications by Course Level</h3>
      <div *ngIf="barChartLabelsApplicationCourseLevel.length > 0">
        <canvas baseChart [datasets]="barChartDataApplicationCourseLevel" [labels]="barChartLabelsApplicationCourseLevel" [options]="barChartOptionsApplicationCourseLevel"
          [legend]="barChartLegendApplicationCourseLevel" [chartType]="barChartTypeApplicationCourseLevel">
        </canvas>
      </div>
    </div>

    <div class="dashboard-box">
      <h3>User Applications</h3>
      <div *ngIf="pieChartLabelsUserApplications.length > 0">
        <canvas baseChart [data]="pieChartDataUserApplications" [labels]="pieChartLabelsUserApplications" [chartType]="pieChartTypeUserApplications"
          [options]="pieChartOptionsUserApplications" [colors]="pieChartColorsUserApplications" [legend]="pieChartLegendUserApplications">
        </canvas>
      </div>
    </div>

    <div class="dashboard-box">
      <h3>Applications by Country</h3>
      <div *ngIf="barChartLabelsCountryApplications.length > 0">
        <canvas baseChart [datasets]="barChartDataCountryApplications" [colors]="barChartColorsCountryApplications" [labels]="barChartLabelsCountryApplications" [options]="barChartOptionsCountryApplications"
          [legend]="barChartLegendCountryApplications" [chartType]="barChartTypeCountryApplications">
        </canvas>
      </div>
    </div>

    <div class="dashboard-box">
      <h3>Applications by University</h3>
      <div *ngIf="barChartLabelsUniversityApplications.length > 0">
        <canvas baseChart [datasets]="barChartDataUniversityApplications" [colors]="barChartColorsUniversityApplications" [labels]="barChartLabelsUniversityApplications" [options]="barChartOptionsUniversityApplications"
          [legend]="barChartLegendUniversityApplications" [chartType]="barChartTypeUniversityApplications">
        </canvas>
      </div>
    </div>

    <div class="dashboard-box">
      <h3>Applications by Course</h3>
      <div *ngIf="barChartLabelsCourseApplications.length > 0">
        <canvas baseChart [datasets]="barChartDataCourseApplications" [colors]="barChartColorsCourseApplications" [labels]="barChartLabelsCourseApplications" [options]="barChartOptionsCourseApplications"
          [legend]="barChartLegendCourseApplications" [chartType]="barChartTypeCourseApplications">
        </canvas>
      </div>
    </div>
  </div>

</div>