<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    List of Counselors
    <a [routerLink]="['/user-management/add-member']">
      <button mat-flat-button class="btn-dark-rounded-outline-white">Add Counselor</button>
    </a>
  </div>
  
  <div class="add-form-container">
   
    <table mat-table [dataSource]="councellors" class="mat-elevation-z8">
  
      <!-- Name Column -->
      <ng-container matColumnDef="SrNo">
        <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
        <td mat-cell *matCellDef="let element"> {{ element.SrNo}} </td>
      </ng-container>

      <ng-container matColumnDef="councellorName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.councellorName }} </td>
      </ng-container>

      <ng-container matColumnDef="councellorEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.councellorEmail }} </td>
      </ng-container>

      <ng-container matColumnDef="councellorPhno">
        <th mat-header-cell *matHeaderCellDef> Phno </th>
        <td mat-cell *matCellDef="let element"> {{ element.councellorPhoneNumber }} </td>
      </ng-container>
  
      <!-- heading Column -->
      <ng-container matColumnDef="councellorRole">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{ element.councellorRole }} </td>
      </ng-container>

      <ng-container matColumnDef="isDeleted">
        <th mat-header-cell *matHeaderCellDef> Inactive </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.isDeleted" (ngModelChange)="onIsDeletedChange(element)"
            class="example-margin"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="editCouncellor">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/user-management/edit-member',element.councellorId]">
            <button mat-flat-button class="btn-dark-rounded-outline button">Edit</button>
            </a>
          </td>
        </ng-container>
  
      <!-- Render Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
