<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    Profile
  </div>

  <div class="add-form-container">

    <form class="profile-form">
      <div class="form-layout">
        <!-- Left Column -->
        <div class="form-left">
          <div class="form-row">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter full name" [(ngModel)]="councellor.councellorName" name="councellorName">
            </mat-form-field>
          </div>
        
          <div class="form-row">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter email"  [(ngModel)]="councellor.councellorEmail" name="councellorEmail" disabled>
            </mat-form-field>
          </div>
        
          <div class="form-row">
            <mat-form-field>
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="Enter phone number" [(ngModel)]="councellor.councellorPhoneNumber" name="councellorPhoneNumber" >
            </mat-form-field>
          </div>
        
          <div class="form-row">
            <mat-form-field>
              <mat-label>Department</mat-label>
              <input matInput placeholder="Enter department" [(ngModel)]="councellor.councellorDepartment" name="councellorDepartment">
            </mat-form-field>
          </div>
        
          <div class="form-row">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <input matInput placeholder="Enter role" [(ngModel)]="councellor.councellorRole" name="councellorRole" disabled>
            </mat-form-field>
          </div>
        
          <div class="form-row">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Enter address" [(ngModel)]="councellor.councellorAddress" name="councellorAddress">
            </mat-form-field>
          </div>
        
          <button mat-raised-button class="btn-dark-rounded button" (click)="updateDetails()">Update Details</button>
        </div>
        

        <!-- Right Column -->
        <div class="form-right">
          <div class="avatar-container">
            <div class="avatar-upload">
              <input type="file" (change)="onFileSelected($event)" id="avatar-input" hidden>
              <label for="avatar-input" class="avatar-label">
                <mat-icon>add</mat-icon>
              </label>
            </div>
          </div>

          <!-- Fields below the avatar -->
          <div class="below-avatar-fields">
            <mat-form-field class="full-width">
              <mat-label>New Password</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Confirm New Password</mat-label>
              <input matInput >
            </mat-form-field>

              <button mat-raised-button class="btn-dark-rounded button">Change Password</button>
          </div>
        </div>
      </div>
    </form>


  </div>
</div>