<h3 mat-dialog-title class="heading">Actions for John</h3>
<div mat-dialog-actions>
  <button mat-button (click)="updateStatusAppication()" class="btn-dark-rounded-outline button">Update Status</button>
  <button mat-button (click)="onButton2Click()" class="btn-dark-rounded-outline button">Record Fedback</button>
  <button mat-button (click)="onButton1Click()" class="btn-dark-rounded-outline button">Edit</button>
  <button mat-button (click)="onButton2Click()" class="btn-dark-rounded-outline button">View History</button>
  <button mat-button (click)="onButton2Click()" class="btn-dark-rounded-outline button">View Document</button>
  <button mat-button (click)="onButton2Click()" class="btn-dark-rounded-outline button">View Checklist</button>
  <button mat-button (click)="onButton2Click()" class="btn-dark-rounded-outline button">View Scholarship </button>
</div>
