<div class="sidebar">
  <mat-accordion class="sidebarMenu">
    <mat-expansion-panel
      *ngFor="let item of sidebarData"
      class="sidebarPanel"
      [hideToggle]="item.subItems.length === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- Use an anchor tag with routerLink for main items -->
          <div class="linkDiv"
            *ngIf="item.subItems.length === 0" 
            [routerLink]="item.link" 
            style="cursor: pointer; text-decoration: none; color: inherit;">
            {{ item.title }}
          </div>
          <div 
            *ngIf="item.subItems.length !== 0" 
            style="cursor: pointer;">
            {{ item.title }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Sub-items -->
      <div *ngFor="let subItem of item.subItems" class="sidebarPanelItem">
        <a 
          [routerLink]="subItem.link" 
          style="cursor: pointer; text-decoration: none; color: inherit;">
          {{ subItem.name }}
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

