.sidebar {
    width: 18vw;
    display: block;
    z-index: 999999;
    min-height: 90vh;
    /* padding: 30px; */
    padding: 10px;
    overflow-y: auto;
}
.sidebarMenu {
    overflow-y: auto;
}

.sidebarPanel {
    transition: background-color 0.2s;
    margin-left: 23px;
    margin-top: 10px;
}

.sidebarPanel.mat-expanded:hover {
    background-color: var(--text-white);
}

.sidebarPanel:hover {
    background-color: var(--blue-dark);
}

.sidebarPanelItem{
    text-decoration: none;
    color: inherit;
    /* margin-left: 20px; */
    margin-left: 12px; 
    padding: 12px 0px 12px 4px;
    transition: background-color 0.2s;
}

.sidebarPanelItem:hover{
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--blue-dark);
}

.linkDiv {
    width: 100%;
    padding-block: 10px;
}

.mat-expansion-panel {
    box-shadow: none !important; 
    border: none !important; 
    overflow-y: auto;
  }
  
  
  .map {
    width: 90%;
    height: 160px;
    background-image: url('/assets/map.0891b8b4804963ff6502.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}
