<div class="sidebar">
  <!-- Sidebar Menu -->
  <mat-accordion class="sidebarMenu">
    <mat-expansion-panel
      *ngFor="let item of sidebarData"
      class="sidebarPanel"
      [hideToggle]="item.subItems.length === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="linkDiv"
            *ngIf="item.subItems.length === 0" 
            [routerLink]="item.link">
            {{ item.title }}
          </div>
          <!-- If has sub-items, just display title -->
          <div *ngIf="item.subItems.length !== 0">
            {{ item.title }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <!-- Sub-items -->
      <div *ngFor="let subItem of item.subItems" class="sidebarPanelItem">
        <div [routerLink]="subItem.link">
          {{ subItem.name }}
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="map"></div>
</div>
