<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    List of Teams
    <a [routerLink]="['/user-management/add-team']">
      <button mat-flat-button class="btn-dark-rounded-outline-white">Add Team</button>
    </a>
  </div>
  
  <div class="add-form-container">
   
    <table mat-table [dataSource]="teams" class="mat-elevation-z8">
  
      <ng-container matColumnDef="SrNo">
        <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
        <td mat-cell *matCellDef="let element"> {{ element.SrNo}} </td>
      </ng-container>
      
      <ng-container matColumnDef="teamName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.teamName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="teamDescription">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{ element.teamDescription }} </td>
      </ng-container>

      <ng-container matColumnDef="teamSize">
        <th mat-header-cell *matHeaderCellDef> Size</th>
        <td mat-cell *matCellDef="let element"> {{ element.teamSize }} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created On</th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt }} </td>
      </ng-container>

      <ng-container matColumnDef="isDeleted">
        <th mat-header-cell *matHeaderCellDef> Inactive </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.isDeleted" (ngModelChange)="onIsDeletedChange(element)"
            class="example-margin"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="openDialog(element)" class="btn-dark-rounded-outline button">
            Action
          </button>
        </td>
      </ng-container>
  
      <!-- Render Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
