<div class="main-sub-container">
  <div class="main-sub-container-header">
    University
    <a [routerLink]="['/study-abroad-setup/university-setup/add-university']">
      <button mat-flat-button class="btn-dark-rounded-outline-white">Add University</button>
    </a>    
  </div>

  <div class="add-form-container">
    <form class="example-form">
      <mat-form-field class="SearchFliter">
        <mat-label>Rating</mat-label>
        <input matInput placeholder="Eg. $2,000" value="">
      </mat-form-field>
      <mat-form-field class="SearchFliter">
        <mat-label>Course Level</mat-label>
        <input matInput placeholder="Eg. Master" value="">
      </mat-form-field>
      <mat-form-field class="SearchFliter">
        <mat-label>Area of Study</mat-label>
        <mat-select>
          <mat-option value="one">Computers</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="SearchFliter">
        <mat-label>Exam Expected</mat-label>
        <mat-select>
          <mat-option value="one">ABC</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button class="btn-dark-rounded-outline">Search</button>
      <button mat-flat-button class="btn-dark-rounded-outline">Clear</button>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>  Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.Name }} </td>
      </ng-container>

      <ng-container matColumnDef="Website">
        <th mat-header-cell *matHeaderCellDef>  Website </th>
        <td mat-cell *matCellDef="let element"> {{ element.Website }} </td>
      </ng-container>

      <ng-container matColumnDef="NationalRanking">
        <th mat-header-cell *matHeaderCellDef> National Ranking </th>
        <td mat-cell *matCellDef="let element"> {{ element.NationalRanking }} </td>
      </ng-container>

      <ng-container matColumnDef="StateRanking">
        <th mat-header-cell *matHeaderCellDef> State Ranking </th>
        <td mat-cell *matCellDef="let element"> {{ element.StateRanking }} </td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{ element.Address }} </td>
      </ng-container>

      <ng-container matColumnDef="YearofEstablishment">
        <th mat-header-cell *matHeaderCellDef> Year of Establishment </th>
        <td mat-cell *matCellDef="let element"> {{ element.YearofEstablishment }} </td>
      </ng-container>

      <!-- New Column for 'Broche' with the Download Button -->
      <ng-container matColumnDef="BrocheLink">
        <th mat-header-cell *matHeaderCellDef> Broche Link </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button (click)="downloadFile()" class="btn-dark-rounded">Download File</button>
        </td>
      </ng-container>

      <!-- Render Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
