<app-loader *ngIf="isLoading"></app-loader>
<div class="profile-header">
    <img class="profile-icon" [src]="councellor.councellorImage" alt="">
  <div class="profile-info">
    <div class="profile-name">{{councellor.councellorName}}</div>
    <div class="profile-email">{{councellor.councellorEmail}}</div>
  </div>
</div>
<a (click)="navigateToHome()" class="dashboard-link">Dashboard</a>

<!-- Account Section -->
<div class="section-title">Account</div>
<div class="menu-item" (click)="navigateToProfile()">My Profile</div>
<!-- <div class="menu-item">Security</div> -->

<!-- Manage Section -->
<div class="section-title">Manage</div>
<div class="menu-item" (click)="navigateToTeams()">My Teams</div>
<div class="menu-item">Queries and Greviences</div>
<div class="menu-item">Billing and Cancellations</div>
<div class="menu-item">Reviews</div>

<!-- Signout -->
<div class="menu-item signout" (click)="signout()">Signout</div>
