<div class="main-sub-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="main-sub-container-header">
    Edit Team
  </div>
  <form class="add-form">
    <div class="add-form-container">
      
      <mat-form-field class="form-input">
        <mat-label>Team Name</mat-label>
        <input matInput placeholder="Enter Team Name" name="teamName" [(ngModel)]="team.teamName" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Team Description</mat-label>
        <input matInput placeholder="Enter Team Description" name="teamDescription" [(ngModel)]="team.teamDescription" value="">
      </mat-form-field>

    </div>

    <button mat-flat-button class="btn-dark-rounded button" (click)="onSaveClick()">Save</button>
  </form>
</div>
