<div class="main-sub-container">
  <div class="main-sub-container-header">
    Edit Team
  </div>
  <form class="add-form">
    <div class="add-form-container">
      
      <mat-form-field class="form-input">
        <mat-label>Team Name</mat-label>
        <input matInput placeholder="Eg. John Doe" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Team Lead</mat-label>
        <input matInput placeholder="Eg. john.doe@example.com" value="">
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label> No. of Members</mat-label>
        <input matInput placeholder="Eg. 9876543210" value="">
      </mat-form-field>
    </div>

    <button mat-flat-button class="btn-dark-rounded button">Reset</button>
    <button mat-flat-button class="btn-dark-rounded button">Save Changes</button>
  </form>
</div>
